/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/
/* Examples (uncomment to use):*/
/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */
/* Set site background image */
/* body {  background: url(image_source) top no-repeat; }
/* Hide compare button */
/* a.compare_item { display: none !important;  }*/
/* IMAIL POPUP IN MOBILE FIXED HEADER MENU*/
#email-dropdown {
position: absolute;
    left: 0;
    right: 0;
    z-index: 3000;
    background: #fff;
    background: var(--black_bg_black);
    display: none;
    opacity: 1;
    visibility: visible;
    padding: 0;
    cursor: def;
}
#email-dropdown {
    top: calc(100% + 1px);
}
/* SMALLER LOGO */
.logo a {
    width: 80%;
    height: 80%;
}
@media screen and (max-width: 1600px){
	.logo a img {
		max-height: 68%;
	} 
}
@media screen and (max-width: 535px){
	.logo a img {
		max-height: 60%;
	} 
}
/* NESTED ORDERED LISTS*/
ol {
  list-style: none;
  counter-reset: li;
}
li:before {
  counter-increment: li; 
  content: counters(li,".") ". ";
}
/* COOKIE POPUP*/
.dyn_mp_jqm_frame.TEXT.BOTTOM_CENTER .popup-text-info {
    justify-content: space-evenly;
    max-width: 100%;
    background-color: #2d2d2d;
    color: #fff;
    font-size: 15px!important;
}
.dyn_mp_jqm_frame.TEXT .popup-text-info__text {
    font-size: .9667em;
    line-height: 1.2em;
    padding: 1rem;
}
/* ALIGNING STICKERS WITH PRODUCT IMAGE ON PRODUCT PAGE and PRODUCT GALLERY THUMBS*/
.catalog-detail__gallery-wrapper {
    margin-left: -63px;
}
.catalog-detail__gallery__item--no-image&gt;span, .catalog-detail__gallery__item&gt;a {
    height: 300px;
}
.catalog-detail__gallery__thmb {
    margin-top: -130px;
}
/* make visible email dropdown when hover e-mail icon in fixed menu in  header_fixed_1_custom  */
.icon-block--only_icon .icon-block__name {
    display: block;
}
.rounded {
    border-radius: 4px;
}
/* Block "Often Search" tags in sections*/
.often-tags{
padding: 13px 23px;
margin-bottom: 1rem;
}
.often-tags__items{
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-bottom: .3rem;
}
.often-tags__item {
outline: none;
    margin: 4px;
    padding: 6px 14px;
    cursor: pointer;
}
/* Catalog sections list - changed dropdown*/
.sections-list__item--has-additional-text .sections-list__item-text-wrapper {
 justify-content: flex-start;
margin-top: 65%;
min-height:100%;
}
.sections-list__item-link--absolute {
top:unset;
}
.sections-list .shadow-parent-all:not(.sections-list__item-without-image) .shadow-target {
    align-items: flex-start;
    justify-content: flex-start;
}
.sections-list .shadow-target {
    position: revert;
}
.sections-list .shadow-parent-all:hover .shadow-target {
    top: 0;
    bottom: auto;
}
.sections-list__item--has-additional-text .sections-list__item-text-top-part .mCSB_container {
    min-height: 100%;
    justify-content: flex-start;
    align-items: start;
}
.mCustomScrollBox {
min-height: 100%;
max-height: none!important;
}
/*ON NEWS PAGE LEFT MENU WAS AT RIGHT. THESE ARE STYLE RULES TO MOVE IT TO THE LEFT SIDE*/
/*.side_right .container .row .maxwidth-theme .content-md {
    flex-direction: row-reverse;
}
.side_right .container .left_block {
    padding-left: 0;
    padding-right: 48px;
}*/
/**/
.main_toggle {
    right: 25px;
    top: -13px;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    position: relative;
}