Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
	php_flag allow_call_time_pass_reference 1
	php_flag session.use_trans_sid off

	#php_value display_errors 1

	#php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On

	# Редирект домена с http на https
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP:X-Forwarded-Proto} !https
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	# Редирект домена с WWW на домен без WWW
	RewriteCond %{HTTP_HOST} ^www\.(.*)$
	RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

	# Добавлять слэш на конец URL
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !\..{1,10}$
	RewriteCond %{REQUEST_URI} !(.*)/$
	RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1/ [L,R=301]

	# Убираем index.html на конце
	RewriteCond %{REQUEST_URI} ^(.*)/index\.html$
	RewriteRule ^(.*)index\.html$ https://%{HTTP_HOST}/$1 [R=301,L]

	# Убираем index.php на конце
	RewriteCond %{REQUEST_URI} ^(.*)/index\.php$
	RewriteRule ^(.*)index\.php$ https://%{HTTP_HOST}/$1 [R=301,L]

	# Не применяем к админке, иначе перестает работать страница Highload-блоки BITRIX
	RewriteCond %{REQUEST_URI} !/bitrix/admin/.* [NC]
	RewriteRule (.*?)index\.php/*(.*) /$1$2 [R=301,NE,L]

	# Удаляем повторяющиеся слеши
	RewriteCond %{THE_REQUEST} //
	RewriteRule (.*) /$0 [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
	RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
	Redirect 301 /product/index.php /catalog/
</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/jpeg "access plus 3 day"
	ExpiresByType image/gif "access plus 3 day"
</IfModule>